<% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

<div class="form-actions">

	<%= link_to(eval("edit_#{model_name}_path(object)"), class: 'waves-effect waves-light btn') do %>
	  &nbsp;<%= "Edit" %>
	<% end %>
	&nbsp;&nbsp;

</div>
