
<style type="text/css">

body {
  background-image: url('/assets/bg.png');
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.social {
	width: 40px;
	height: 40px;
}

</style>

	<div class="row">  
	  <div class="col s9">
	        <div class="row">
	            <div class="col s9"></div>
	            <div class="col s3">
	              <br>
	              <br>
	              <br>
	              <br>
	              <br>
	              <br>

				      <div class="card">
				        <div class="card-content">
				          <h4>The A&M Baking Factory</h4>
				          <h6>Welcome to our humble bakery! We offer all kinds of freshly baked delicious breads, muffins, and pastries here. Order online or come visit us!</h6>

				          <h5 class="visit">Visiting Hours</h5>
	                        <ul>
	                          <li class="visit">Wed-Fri: 12PM - 11PM</li>
	                          <li class="visit">Sat: 10AM -11PM</li>
	                          <li class="visit">Sun: 10AM - 9PM</li>
	                        </ul>
	                    <br>
	                    <h6><b>Check us out on social media:<b></h6>
                        <a href="https://www.facebook.com/thebutterwoodbakeconsortium" target="_blank" hspace="20"><%= image_tag 'fb.png', class: 'social' %></a>
                        <a href="https://www.instagram.com/thebutterwoodbakeconsortium/" target="_blank"><%= image_tag 'insta.png', class: 'social' %></a>
                        <a href="https://thepittsburgh100.com/entertainment/food/2018/09/25/pittsburgh-roast-butterwood-bake-consortium " target="_blank" hspace="20"><%= image_tag 'News1.png', class: 'social' %></a>
                        <a href="https://archive.triblive.com/news/butterwood-bake-consortium-is-a-real-treat/" target="_blank"><%= image_tag 'News2.png', class: 'social' %></a>
				        </div>
				      </div>

	            </div>
	        </div>

	  </div>
	</div>
