<h3>Order</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th width="100">Item</th>
			<th width="100">Quantity</th>
			<th width="100">Options</th>
		</tr>
		</thead>
	<tbody>
		<% OrderItem.all.where(order_id: @order.id).each do |oi| %>
			<tr>
			    <td><%= link_to oi.item.name, item_path(oi.item) %> </td>
			    <td><%= oi.quantity %></td>
			    <% if oi.shipped_on.nil? %>
			    <td><%= link_to "Unshipped", check_shipping_path(oi.id)%></td>
			    <% else %>
			    <td><%= link_to "Shipped", check_shipping_path(oi.id)%></td>
			    <% end -%>
			</tr>
	<% end %>
	</tbody>
</table>