<% if logged_in? && ( current_user.role?(:shipper)) %>

	<div class="row">
	  <div class="small-7 columns">
	    <%= render :partial => "address_details" %>
	  </div>
	  <div class="small-5 columns">
	    &nbsp;
	  </div>
	</div>

<div class="form-actions">
    <%= link_to(home_path, class: 'waves-effect waves-light btn') do %>
      &nbsp;Back <%# model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp;

</div>



<% else %>

	<div class="row">
	  <div class="small-7 columns">
	    <%= render :partial => "address_details" %>
	  </div>
	  <div class="small-5 columns">
	    &nbsp;
	  </div>
	</div>

	<!-- Add buttons to list all, edit project or destroy object -->
	<%= render partial: "partials/object_options", locals: {model_name: "address", object: @address}  %>

<% end %>


