<br>
<h5>Price History</h5>
    <% if @previous_prices.empty? %>
      This item has no price history
    <% else %>
      <table class="striped highlight">
        <thead>
          <th>Price</th>
          <th>Start Date</th>
        </thead>
        <% for item_price in @previous_prices %>
          <tr>
            <td><%= number_to_currency item_price.price %></td>
            <td><%= item_price.start_date.strftime("%m/%d/%y")%></td>
          </tr>
        <% end %>
      </table>
    <% end %>
