<br>
<h5>Similar Items</h5>
    <% if @similar_items.empty? %>
      This item has no similar items.
    <% else %>
      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Weight</th>
        </thead>
        <% @similar_items  = @similar_items - [@item]%>
        <% for item in @similar_items %>
          <tr>
            <td><%= link_to item.name, item_path(item) %></td>
            <td><%= item.weight %> lbs</td>
          </tr>
        <% end %>
      </table>
    <% end %>
